


 <!-- <footer id="footerPartial">
    <div class="float-left footerWrapper">
      <em class="text-black">Created by belQati ©2018</em>
      <a class="footerLink" href="https://github.com/belqati/" target="blank"><i class="fab fa-github"></i></a>
      <a class="footerLink" href="https://twitter.com/belqati/" target="blank"><i class="fab fa-twitter"></i></a>
    </div>
  </footer> -->


  <!-- <div class="">
    <h2 class="display-3 bg-success" style="color:white;">More Posts</h2>
</div> -->

<div id="foot" class="d-xs-block d-xl-none">
    <div id="footText">    
    <div id="footCat">
            <h2 class="text-center"><b>Categories</b></h2>
        <ul>
            <li><a href="#"><b>Chemical Engineering</b></a></li>
            <li><a href="#"><b>Computer Engineering</b></a></li>
        </ul>
        
        <ul>
                <li><a href="#"><b>Mechanical Engineering</b></a></li>
                <li><a href="#"><b>Electrical Engineering</b></a></li>
        </ul>

        <ul class="agric">
                <li ><a href="#"><b>Agric Engineering</b></a></li>
        </ul>

    </div>
</div>
</div>





<script src="/js/jquery-1.11.1.min.js"></script>
    <script src="/js/bootstrap.js"></script>

    <script>
        $(function () {
            $(document).scroll(function () {
                var $nav = $("#mainNav");
                $nav.toggleClass("scrolled", $(this).scrollTop() > $nav.height());
            });
        });
    </script>
</body>

</html>