<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:700%7CNunito:300,600" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css">
    <title>Engineering journal</title>
    <!-- <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous"> -->
    <!-- <link rel="stylesheet" href="/css/bootstrap.css"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css">


    <!-- <link rel="stylesheet" href="/css/bootstrap.css"> -->


<link type="text/css" rel="stylesheet" href="css/bootstrap.min2.css" />
<link rel="stylesheet" href="css/font-awesome.min.css">
<link type="text/css" rel="stylesheet" href="css/style2.css" />
    <link rel="stylesheet" href="/css/style.css">



</head>

<body>
        <div id="nav">

                <div id="nav-fixed">
                <div class="container">
                
                <div class="nav-logo">
                <a href="index-2.html" class="logo"><img src="img/logo.png" alt=""></a>
                </div>
                
                
                <ul class="nav-menu nav navbar-nav">
                <li><a href="category.html">Latest News</a></li>
                <li class="cat-1"><a href="category.html">Computer Eng</a></li>
                <li class="cat-2"><a href="category.html">Agric Eng</a></li>
                <li class="cat-3"><a href="category.html">Mech Eng</a></li>
                <li class="cat-4"><a href="category.html">civil Eng</a></li>
                <li class="cat-4"><a href="category.html">chemical Eng</a></li>
                </ul>
                
                
                <div class="nav-btns">
                <button class="aside-btn"><i class="fa fa-bars"></i></button>
                <button class="search-btn"><i class="fa fa-search"></i></button>
                <div class="search-form">
                <input class="search-input" type="text" name="search" placeholder="Enter Your Search ...">
                <button class="search-close"><i class="fa fa-times"></i></button>
                </div>
                </div>
                
                </div>
                </div>
                
                
                <div id="nav-aside">
                
                <div class="section-row">
                <ul class="nav-aside-menu">
                <li><a href="index-2.html">Home</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="#">Join Us</a></li>
                <li><a href="#">Advertisement</a></li>
                <li><a href="contact.html">Contacts</a></li>
                </ul>
                </div>
                
                
                <div class="section-row">
                <h3>Recent Posts</h3>
                <div class="post post-widget">
                <a class="post-img" href="blog-post.html"><img src="img/widget-2.jpg" alt=""></a>
                <div class="post-body">
                <h3 class="post-title"><a href="blog-post.html">Pagedraw UI Builder Turns Your Website Design Mockup Into Code Automatically</a></h3>
                </div>
                </div>
                <div class="post post-widget">
                <a class="post-img" href="blog-post.html"><img src="img/widget-3.jpg" alt=""></a>
                <div class="post-body">
                <h3 class="post-title"><a href="blog-post.html">Why Node.js Is The Coolest Kid On The Backend Development Block!</a></h3>
                </div>
                </div>
                <div class="post post-widget">
                <a class="post-img" href="blog-post.html"><img src="img/widget-4.jpg" alt=""></a>
                <div class="post-body">
                <h3 class="post-title"><a href="blog-post.html">Tell-A-Tool: Guide To Web Design And Development Tools</a></h3>
                </div>
                </div>
                </div>
                
                
                <div class="section-row">
                <h3>Follow us</h3>
                <ul class="nav-aside-social">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                </ul>
                </div>
                
                
                <button class="nav-aside-close"><i class="fa fa-times"></i></button>
                
                </div>
                
                </div>
    